/*
	Kevin's BBQ Joints
	2/9/2011
	Author: Christine Cheung
*/

/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }


html {	background: #bfbcb4 url(../img/bg.png); }

body {
	font: .85em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #d6d3ca;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

h2 {
	font: bold 1.9em Arial Black, Arial, Helvetica;
	text-transform: uppercase;
	color: #000;
}
h3 {
	font: bold 1.5em Arial, Helvetica;
	margin: 0 0 5px 0;
}
h4 {
	font: bold 1.2em Arial, Helvetica;
	margin: 0 0 5px 0;
}

a {
	color: #951a1a;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

p {	margin: 0 0 10px 0; }

li { list-style: none; }

header {
	background: #ecebe7 url(/media/img/header.png) 0 15px no-repeat;
	height: 149px;
	position: relative;
}
header h1 {
	text-indent: -9999px;
}
header h1 a {
	width: 469px;
	height: 124px;
	display: block;
}

/* User Login */
#userBar {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 15px;
	text-align: right;
}

/* Top Navigation */
nav {
	background: #951a1a;
	height: 40px;
}
nav ul {
	padding: 9px 0 0 27px;
}
nav ul li {
	margin: 0 25px 0 0;
	display: inline;
	text-transform: uppercase;
}
nav ul li a {
	color: #e9eae3;
	letter-spacing: .07em;
	text-decoration: none;
}

/* Content Header */
section#content {
	width: 756px;
	padding: 10px 10px 15px 10px;
	float: left;
}
section header {
	height: 46px;
	background: #F3F0E9;
	padding: 10px 0 0 20px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/* Content Main */
section article {
	background: #fbfaf7;
	padding: 15px 20px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: auto;
}

/* BBQ Joints Listing by State */
ul#stateList li {
	font-size: 1.3em;
	width: 160px;
	padding: 15px 10px 15px 0;
	float: left;
}

/* State Page Listing of Joints */
ul#joints li {
	padding: 0 0 10px 0;
}

/* Joint Info Page */
#jointInfo {
	width: 400px;
	margin: 0 0 15px 0;
	float: left;
}

#map {
	width: 300px;
	height: 300px;
	margin: -20px 0 15px 0;
	float: right;
}

#jointRate {
	width: 450px;
	border-top: 1px solid #ddd;
	padding: 10px 0;
	clear: both;
}
#jointRate h3 {
	padding: 0 0 10px 0;
}
.rate {
	width: 100px;
	float: left;
	clear: both;
}
.flames {
	float: left;
}
.flameText {
	font-style: italic;
	font-size: 0.9em;
	margin: 2px 0 0 20px;
	float: left;
}
.review {
	width: 100px;
	margin: 10px 0 0 0;
	float: left;
	clear: both;
}
.reviewBox {
	width: 440px;
	height: 200px;
	margin: 15px 0 0 0;
	padding: 5px;
	float: left;
	clear: both;
}
#jointRate .submit {
	margin: 10px 0;
	float: right;
	clear: both;
}

#reviews {
	padding: 20px 0 0 0;
	clear: both;
}


/* Rate or Review Error */
.error {
	color: red;
}

/* Right Side Ad Space */
aside {
	background: #d6d3ca;
	color: #888;
	font-style: italic;
	text-align: right;
	width: 150px;
	margin: 10px 25px 20px 0;
	float: right;
}

footer {
	font-size: .8em;
	font-weight: bold;
	text-transform: uppercase;
	height: 33px;
	background: #951a1a;
	padding: 12px 0 0 0;
	clear: both;
}
footer ul li {
	display: inline;
	margin: 0 10px 0 0;
}
footer ul li a {
	color: #000;
	text-decoration: none;
}

/* Flames */
div.star-rating{float:left;width:19px;height:23px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;}
div.star-rating,div.star-rating a{background:url(/media/img/flames.png) no-repeat 0 0px;}
div.star-rating a{display:block;width:17px;height:100%;background-position:0 0px;border:0;}
div.star-rating-on a{background-position:0 -23px!important;}
div.star-rating-hover a{background-position:0 -46px;}
div.star-rating-readonly a{cursor:default !important;}
div.star-rating{background:transparent!important;overflow:hidden!important;}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }