<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Kevin's BBQ Joints - {% block title %}{% endblock %}</title>
	<meta name="description" content="Kevin's BBQ Joints">
	<meta name="author" content="Kevin Kelly, Christine Cheung">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="shortcut icon" HREF="/static/favicon.ico">  

	<link rel="stylesheet" href="/static/css/styles.css">
	
    <script src="/static/js/libs/modernizr-1.7.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
	<script src="/static/js/script.js"></script>
	
</head>

<body>

	<header>
		<h1><a href="/">Kevin's BBQ Joints</a></h1>
		<div id="userBar">
		{% if user.is_authenticated %}
		You are logged in as: <strong>{{ user.username }}</strong> <br/>(<a href="/user/logout">Logout</a>)
		{% else %}
		<a href="{%	url registration_register %}">Register</a>
		or
		<a href="/user/login">Login</a>
		{% endif %}
		</div>
		<div id="topAd">
		    {{ads.topright|safe}}
		</div>
	</header>
	
	<nav>
		<ul>
			<li><a href="/joints">BBQ Joints</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/meats">Meats</a></li>
			<li><a href="/rubsandsauces">Rubs & Sauces</a></li>
			<li><a href="/bbqblogs">BBQ Blogs</a></li>
			<li><a href="/blog">Kevin's Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		
		<div id="fb">
		  <a href="http://www.facebook.com/kevinsbbqjoints/" target="_blank">Facebook</a>
		</div>
		<div id="twitter">
		  <a href="http://www.twitter.com/kevinsbbqjoints/" target="_blank">Twitter</a>
		</div>
		
	</nav>
	
	<section id="search">
	    <form action="/search/" method="GET">
    	    <input type="text" name="q" {% if query %}value="{{query}}"{% else %}placeholder="Street Address, City, State, or ZIP"{% endif %} />
    	    <input type="submit" />

	        <input type="checkbox" id="filterChains" name="filterChains" {% if filterChains %}checked{% endif %}/>
	        <span class="filterChains">Filter Out Chains</span>

    	</form>
	</section>

	<section id="content">

		<header>
			<h2>{% block page_heading %}{% endblock %}</h2>
		</header>
		
		<article>
		{% block content %}{% endblock %}
		</article>

	</section>
	
	<aside>
		<em>Advertisement</em>
		{{ads.sidebar|safe}}
	</aside>

	<footer>
		<ul>
			<li><a href="/joints">BBQ Joints</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/meats">Meats</a></li>
			<li><a href="/rubsandsauces">Rubs & Sauces</a></li>
			<li><a href="/bbqblogs">BBQ Blogs</a></li>
			<li><a href="/blog">Kevin's Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		
		<div class="copyright">
		    Copyright © 2009-2011 Kevin's BBQ Joints
		</div>
	</footer>

	<script src="/static/js/libs/jquery.rating.js"></script>
	<script src="/static/js/libs/jquery.MetaData.js"></script>

    <!--[if lt IE 7 ]>
    <script src="/static/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{googleAnalyticsID}}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</body>

</html>
