{% extends "base.html" %}

    {% block title %}Front Page{% endblock %}
	{% block page_heading %}Welcome to Kevin's BBQ Joints{% endblock %}

	{% block content %}	
    
    <div class="frontFeatureBox">

        <h3>BBQ Joint of the Week</h3>
        <img src="/static/img/fatcowbbq.jpg" width="330" height="220" alt="Fat Cow BBQ" />
        <h4><a href="http://kevinsbbqjoints.com/joint/2982/Fat-Cow-BBQ">Fat Cow BBQ </a> - Lewisville, TX</h4> via <a href="http://fullcustomgospelbbq.com">Full Custom Gospel BBQ</a></h4>

    </div>
    
    <div class="frontFeatureBox">

        <h3>Featured Meat of the Week</h3>
        <img src="/static/img/featuredmeat-smokecitysausage.jpg" width="330" height="248" alt="Smoke City Market Sausage" />
        <h4>Jalapeno Cheddar Sausage<br/>
        <a href="http://kevinsbbqjoints.com/joint/2908">Smoke City Market</a></h4>

    </div>
    
    <div class="fullFeature">
    
        <p>Now YOU can review BBQ Joints. <a href="{%	url registration_register %}">Register</a> for an account, then <a href="/user/login">login</a> and get started!</p>
        <img src="/static/img/review-demo.png" width="635" height="286" alt="" />

    </div>

    <div class="frontFeatureBox">

        <h3>Top Ten Reader's Choice</h3>
    
        <ol>
            <li><a href="http://kevinsbbqjoints.com/joint/553">Lexington BBQ #1 - Lexington, NC</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/111/Blacks-Barbecue">Black's Barbecue - Lockhart, TX</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/807/Smoque-BBQ">Smoque BBQ - Chicago, IL</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/1853/Cozy-Corner-BBQ">Cozy Corner BBQ - Memphis, TN</a></li>
            <li><a href=" http://kevinsbbqjoints.com/joint/2497/Franklin-Barbecue">Franklin Barbecue - Austin, TX</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/676">Phil's BBQ - San Diego, CA</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/647/Oklahoma-Joes-BBQ---Olathe">Oklahoma Joe's - Olathe, KS</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/533/Slows-Bar-B-Q">Slow's Bar-B-Q - Detroit, MI</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/280">Dinosaur Bar-B-Que - New York, NY</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/7/17th-Street-Bar--Grill---Murphysboro">17th Street Bar & Grill - Murphysboro, IL</a></li>
        </ol>

    </div>
    
    <div class="frontFeatureBox">
        
        <a href="/blog"><img src="/static/img/promote_blog.png" width="246" height="167" alt="" /></a>
        
    </div>
    
	{% endblock %}