{% extends "base.html" %}

    {% block title %}Front Page{% endblock %}
	{% block page_heading %}Welcome to Kevin's BBQ Joints{% endblock %}

	{% block content %}	
    
    <div class="frontFeatureBox">

        <h3>BBQ Joint of the Week</h3>
        <img src="/static/img/lockhart.png" width="330" height="220" alt="Lockhart Smokehouse" />
        <h4><a href="http://kevinsbbqjoints.com/joint/2849/lockhart-smokehouse">Lockhart Smokehouse</a> - Dallas, TX</h4>

    </div>
    
    <div class="frontFeatureBox">

        <h3>Featured Meat of the Week</h3>
        <img src="/static/img/featuredmeat-smokeprimerib.jpg" width="330" height="248" alt="Smoke Prime Rib" />
        <h4>Smoke Prime Rib<br/>
        <a href="http://kevinsbbqjoints.com/joint/1632/podnahs-pit-barbecue">Podnah's Pit Barbecue - Portland, OR</a></h4>

    </div>
    
    <div class="fullFeature">
    
        <span class="callout">Now YOU can review BBQ Joints. <a href="{%	url registration_register %}">Register</a> for an account, then <a href="/user/login">login</a> and get started!</span>

    </div>

    <div class="frontFeatureBox">

        <h3>Top Ten Reader's Choice</h3>
    
        <ol>
            <li><a href=" http://kevinsbbqjoints.com/joint/2497/Franklin-Barbecue">Franklin Barbecue - Austin, TX</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/553">Lexington BBQ #1 - Lexington, NC</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/18/allen-son-bar-b-que">Allen & Sons Bar-Que - Chapel Hill, NC</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/111/Blacks-Barbecue">Black's Barbecue - Lockhart, TX</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/898/the-salt-lick-bar-b-q">The Salt Lick Bar-B-Q - Driftwood, TX</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/676">Phil's BBQ - San Diego, CA</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/1111/the-germantown-commissary">The Germantown Commissary</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/2853/lillies-q">Lillie's Q - Chicago, IL</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/647/Oklahoma-Joes-BBQ---Olathe">Oklahoma Joe's - Olathe, KS</a></li>
            <li><a href="http://kevinsbbqjoints.com/joint/533/Slows-Bar-B-Q">Slow's Bar-B-Q - Detroit, MI</a></li>
        </ol>
        
        <br/>
        
        <h4><a href="http://kevinsbbqjoints.com/blog/2011/05/26/vote-now-readers-choice-poll-favorite-bbq-joint/">Vote for YOUR Favorite BBQ Joints</a></h4>

    </div>
    
    <div class="frontFeatureBox">
        
        <h3>5 Great BBQ Joint Pics</h3>
        <h4>from <a href="/blog">Kevin's BBQ Joints Blog</a></h4>
        <p>Here are 5 Great BBQ Joint pictures from BBQ joints across the United States:</p>
        <a href="http://kevinsbbqjoints.com/blog/2011/05/17/my-favorite-bbq-joints-james-boo-serious-eats/#more-8990"><img src="/static/img/blog-jointpics.jpg" width="300" height="225" alt="" /></a>
        <p>
        <a href="http://kevinsbbqjoints.com/joint/533">Slows Bar-B-Q</a> - Detroit, Michigan via <a href="http://thehungrydudes.com/">Hungry Dudes</a><br/>
        <a href="http://kevinsbbqjoints.com/blog/2011/05/17/my-favorite-bbq-joints-james-boo-serious-eats/#more-8990">(more...)</a>
        </p>
        
    </div>
    
	{% endblock %}