
{% extends "base.html" %}

	{% block page_heading %} BBQ Joints > <a href="/joints/{{ state.state_abbr }}">{{ state.name }}</a></h2>{% endblock %}

	{% block content %}
	
	<h3>{{ joint.name }}</h3>
	{{ joint.address }}<br/>
	{{ joint.city }}, {{ joint.state }}<br/>
	{{ joint.phone }}<br/>
	<a href="{{ joint.url }}">{{ joint.url }}</a><br/>
    <br/>
	{% if joint.notes %}
    {{ joint.notes|safe }}
    {% endif %}
    
    {% if user.is_authenticated %}
    
    {% if request %}
    Your Rating: {{request.rating}}<br/>
    Your Review: {{request.review}}

    {% else %}
    
    {% if user_review %}
    <h3>Update Your Review:</h3>
    <form action="/joint/{{joint.id}}/review/" method="post">
        {% csrf_token %}
                
        Rating:
        1 <input id="rating" name="rating" type="radio" value="1" {% if user_review.rating == 1 %} checked="checked" {% endif %}/>
        1.5 <input id="rating" name="rating" type="radio" value="1.5" {% if user_review.rating == 1.5 %} checked="checked" {% endif %}/>
        2 <input id="rating" name="rating" type="radio" value="2" {% if user_review.rating == 2 %} checked="checked" {% endif %}/>
        2.5 <input id="rating" name="rating" type="radio" value="2.5" {% if user_review.rating == 2.5 %} checked="checked" {% endif %}/>
        3 <input id="rating" name="rating" type="radio" value="3" {% if user_review.rating == 3 %} checked="checked" {% endif %}/>
        3.5<input id="rating" name="rating" type="radio" value="3.5" {% if user_review.rating == 3.5 %} checked="checked" {% endif %}/>
        4 <input id="rating" name="rating" type="radio" value="4" {% if user_review.rating == 4 %} checked="checked" {% endif %}/>
        4.5 <input id="rating" name="rating" type="radio" value="4.5" {% if user_review.rating == 4.5 %} checked="checked" {% endif %}/>
        5 <input id="rating" name="rating" type="radio" value="5" {% if user_review.rating == 5 %} checked="checked" {% endif %}/>
        <br/>
        Review: <textarea name="review" id="review" cols="50" rows="10">{{user_review.review}}</textarea>
        <br/>
        <input type="submit" value="Submit" />
    </form>
    {% else %}
    <h3>Write a Review:</h3>
    <form action="/joint/{{joint.id}}/review/" method="post">
        {% csrf_token %}
        Rating:
        1 <input id="rating" name="rating" type="radio" value="1"/>
        1.5 <input id="rating" name="rating" type="radio" value="1.5"/>
        2 <input id="rating" name="rating" type="radio" value="2"/>
        2.5 <input id="rating" name="rating" type="radio" value="2.5"/>
        3 <input id="rating" name="rating" type="radio" value="3"/>
        3.5<input id="rating" name="rating" type="radio" value="3.5"/>
        4 <input id="rating" name="rating" type="radio" value="4"/>
        4.5 <input id="rating" name="rating" type="radio" value="4.5"/>
        5 <input id="rating" name="rating" type="radio" value="5"/>
        <br/>
        Review: <textarea name="review" id="review" cols="50" rows="10"></textarea>
        <br/>
        <input type="submit" value="Submit" />
    </form>
    {% endif %}
    {% endif %}
    
    {% endif %}
    
    {% if reviews %}
    
    <br/>
    <h3>Reviews</h3>
    {% for review in reviews %}
    {{review.user.username}} says...<br/>
    {{review.review}}<br/>
    {{review.user.username}} rates this joint {{review.rating}}<br/>
    <br/>
    {% endfor %}
    <br/>
    <br/>
    {% endif %}

	
	{% endblock %}	

