
{% extends "base.html" %}

	{% block page_heading %} BBQ Joints > <a href="/joints/{{ state.state_abbr }}">{{ state.name }}</a></h2>{% endblock %}

	{% block content %}
	
	<h3>{{ joint.name }}</h3>
	{{ joint.address }}<br/>
	{{ joint.city }}, {{ joint.state }}<br/>
	{{ joint.phone }}<br/>
	<a href="{{ joint.url }}">{{ joint.url }}</a><br/>
    <br/>
	{% if joint.notes %}
    {{ joint.notes|safe }}
    {% endif %}
    
    {% if user.is_authenticated %}
    
    <form action="/joint/{{joint.id}}/review/" method="post">
        {% csrf_token %}
        <h3>{% if user_review %}Update {% endif %}Rating:</h3>
        {% if error_message %}<span class="error">You didn't rate the joint.</span>{% endif %}
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="0.5" {% if user_review.rating == 0.5 %} checked="checked" {% endif %}/>
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="1.0" {% if user_review.rating == 1 %} checked="checked" {% endif %}/>
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="1.5" {% if user_review.rating == 1.5 %} checked="checked" {% endif %}/>
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="2.0" {% if user_review.rating == 2 %} checked="checked" {% endif %}/>
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="2.5" {% if user_review.rating == 2.5 %} checked="checked" {% endif %}/>
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="3.0" {% if user_review.rating == 3 %} checked="checked" {% endif %}/>
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="3.5" {% if user_review.rating == 3.5 %} checked="checked" {% endif %}/>
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="4.0" {% if user_review.rating == 4 %} checked="checked" {% endif %}/>
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="4.5" {% if user_review.rating == 4.5 %} checked="checked" {% endif %}/>
        <input id="rating" name="rating" class="star {split:2}" type="radio" value="5.0" {% if user_review.rating == 5 %} checked="checked" {% endif %}/>
        <br/>
        <h3>{% if user_review %}Update {% endif %}Review:</h3>
        <textarea name="review" id="review" cols="50" rows="10">{{user_review.review}}</textarea>
        <br/>
        <input type="submit" value="Submit" />
    </form>
    
    {% endif %}
    
    {% if reviews %}
    
    <br/>
    <h3>Reviews</h3>
    {% for review in reviews %}
    {{review.user.username}} says...<br/>
    {{review.review}}<br/>
    {{review.user.username}} rates this joint {{review.rating}}<br/>
    <br/>
    {% endfor %}
    <br/>
    <br/>
    {% endif %}

	
	{% endblock %}	

